/*BASE STYLES*/
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
}


/*Header*/
.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}
.top-header {
  width: 960px;
  margin: auto;
  display: flex;
  position: relative;
  top: 1rem;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top-header-content {
  display: flex;
  align-items: center;
}
.top-header-content img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}
.top-header-content span {
padding-left: 2rem;
padding-right: 2rem;
}
.banner-header {
  width: 960px;
  margin: auto;
  display: flex;
  position: relative;
  top: 10rem;
  left: 3rem;
  justify-content: flex-end;
}
.banner-header-content {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Main*/
.top-main {
  display: flex;
  width: 960px;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
}
.top-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  align-items: center;
  width: 10%;
  margin-left: 3rem;
  margin-right: 3rem;
}
.ruler,
.truck {
  width: 5rem;
}
.paper {
  width: 3.5rem;
}
.top-main-content span{
  text-align: center;
}

.bottom-main {
  width: 960px;
  margin: auto;
  display: flex;
  margin-top: 3rem;
  height: auto;
  justify-content: center;
}
.bottom-main-content {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 5%;
  margin-bottom: 5rem;
}

.bottom-main-content span{
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/*Footer*/
.footer {
  width: 960px;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-content {
  display: flex;
  align-items: center;
}
.footer-content img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
