/*BASE STYLES*/
html {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
  box-sizing: border-box;
}



/*Header*/
.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}
.top-header {
  width: 960px;
  margin: auto;
  display: flex;
  position: relative;
  top: 1rem;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top-header-content {
  display: flex;
  align-items: center;
}
.top-header-content img{
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}
.top-header-content span {
padding-left: 2rem;
padding-right: 2rem;
}
.banner-header {
  width: 960px;
  margin: auto;
  display: flex;
  position: relative;
  top: 10rem;
  left: 3rem;
  justify-content: flex-end;
}
.banner-header-content {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Main*/
.top-main {
  width: 960px;
  margin: auto;
  margin-top: 3rem;
  border: 3px solid blue;
  display: flex;
  justify-content: center;
}
.top-main-content {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  height: 8rem;
  justify-content: space-between;
  margin-left: 6rem;
}

.ruler,
.truck {
  width: 5rem;
  height: auto;
}
.paper {
  width: 3.5rem;
  height: auto;
}

.top-main-content div,
.top-main-content span {
  border: 3px solid yellow;
}
